/* portrait view */
@media (max-width: 1000px) {
    .container {
        width: 290px; height: 505px;
        min-height: 450px;
    }
    .name {
        font-size: 1.3em;
    }
    .desc {
        font-size: 1em;
    }
    .btn-social {
        border-radius: 50%;
        height: 47px; width: 47px;
        line-height: 47px;
        margin: 7px 3.5px;
    }
    .index-link, .final-index-link {
        font-size: 0.8em; 
    }
}

/* landscape view */
@media (max-height: 500px) {
    img {
        display: none;
    }
    .container {
        height: 215px;
        max-height: 220px; min-height: 100px;
    }
}