/* portrait view */
@media (max-width: 800px) {
    .card {
        position: relative;
        top: 2rem;
        width:17rem; height: 29rem;
    }
    .name {
        font-size: 1.4rem;
    }
    .desc {
        font-size: .8rem;
    }
    .btn {
        width: 17rem;
    }
}
@media (max-height: 800px) {
    .card {
        position: relative;
        top: 1rem;
        width:16rem; height: 27rem;
    }
    .name {
        font-size: 1.3rem;
    }
    .desc {
        font-size: .7rem;
    }
    .btn {
        width: 16rem; height: 3rem;
        font-size: 0.8rem;
    }
    .btn-social {
        height: 50px; width: 50px;
    }
    .info-btn-table {
        margin-top: 30px;
    }
}
/* landscape view */
@media (max-height: 500px) {
    .card {
        display: none;
    }
    .info-btn-table {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 75vh;
    }
    .btn {
        width: 23rem;
        margin-top: 10px;
    }
    body {
        position: fixed;
    }
}