/* portrait view */
@media (max-height: 750px) {
    .card {
        position: relative;
        top: 0.7rem;
        width: 16.5rem; height: 27.2rem;
    }
    .name {
        font-size: 1.4rem;
    }
    .desc {
        font-size: .7rem;
    }
    .btn {
        width: 16.5rem;
    }
    .info-btn-table {
        margin-top: 15px;
    }
}
/* landscape view */
@media (max-height: 500px) {
    .card {
        display: none;
    }
    .info-btn-table {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 75vh;
    }
    .btn {
        width: 23rem;
        margin-top: 10px;
    }
    body {
        position: fixed;
    }
}