body {
    background-color: rgb(61, 61, 61);
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.header-card {
    margin-top: 50px;
}

.info-card-table {
    margin-top: 100px;
}

.info-card {
    margin-right: 100px;
    margin-left: 100px;
}

.contact-img {
    margin-right: 15%;
    margin-left: 15%;
}

.button {
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 350px;
    cursor: pointer;
    border-radius: 12px;
}

.contact-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}