@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,500&display=swap');

.container {
    display: flex;
    justify-content: center;
    padding-top: 1rem; 
    width: 17%; height: 61%;
    min-width: 300px; max-width: 450px;
    min-height: 520px; max-height: 535px;
}
.card-content {
    margin-top: 1rem; margin-bottom: 1rem;
}
.card-img {
    width: auto; height: auto;
}
.name {
    font-size: min(1.35em, 22px);
}
.desc {
    font-size: min(1.1em, 19px);
    font-family: 'Source Code Pro', monospace;
}
/* website index */
.index-link, .final-index-link {
    font-size: min(0.87em, 15px); 
    font-weight: bold;
}
.index-link::after {
    content: " |";
}
.final-index-link:hover, .index-link:hover {
    color: rgb(75, 75, 75);
}
a, a:hover {
    color: black;
}
a:hover {
    text-decoration: none;
}
/* social media btns */
.btn-social
{
    border-radius: 50%;
    height: 49px; width: 49px;
    line-height: 49px;
    margin: 9px 4.5px;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
}
.btn-social .fa,.btn-social i
{
    backface-visibility: hidden;
    transform: scale(1);
    transition: all .25s;
}
.btn-social:hover,.btn-social:focus
{
    color: #fff;
    outline: none;
    text-decoration: none;
}
.btn-social:hover .fa,.btn-social:focus .fa,.btn-social:hover i,.btn-social:focus i
{
    transform: scale(1.3);
}
.btn-github
{
    background-color: #606060;
}
.btn-github:hover
{
    background-color: #9C9C9C;
}
.btn-email
{
    background-color: #44c456;
}
.btn-email:hover
{
    background-color: #6bd079;
}
.btn-linkedin
{
    background-color: #0976b4;
}
.btn-linkedin:hover
{
    background-color: #0b96e5;
}
.btn-instagram
{
    background-color: #FF2DCC;
}
.btn-instagram:hover
{
    background-color: #E0DE5C;
}