<!doctype html>
<html lang="en">
    <head>
        <title>About</title>
        <link rel="icon" type="img/png" href="static/img/favicon.png">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="Description" content="Nick Morris about page">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/css/about.css">
        <link rel="stylesheet" href="static/css/general/site.css">
    </head>
    <body>
        <div class="header">
            <button class="btn-home" id="index-return-btn"><span class="glyphicon glyphicon-home"></span></button>
            <h1 class="title">Things About Me</h1>
            <hr>
        </div>
        <div class="overview"><pre id="overview"></pre><hr></div>
        <div class="contact horiz-center"><a href="mailto:morris.nick991@gmail.com">get in touch 📩</a></div>
        <script src="static/js/about/populateAboutJSON.js"></script>
        <script src="static/js/general/borderColoring.js"></script>
        <script src="static/js/general/redirects.js"></script>
    </body>
</html>