<!doctype html>
<html lang="en">
  <head>
    <title>Nick Morris</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Description" content="Nick Morris personal site index page">
    <link rel="icon" type="img/png" href="static/img/favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/general/site.css">
    <link rel="stylesheet" href="static/css/general/mobile.css">
    <link rel="stylesheet" href="static/css/general/background.animation.css">
  </head>
  <body>
    <canvas id="anim-canvas"></canvas>
    <div class="container">
      <div class="card" id="header-card">
        <div class=card-img>
          <img class="card-img-top" src="static/img/profile-img.jpg" alt="profile photo">
        </div>
        <div class="card-content">
          <h2 class="name horiz-center">Nick Morris</h2>
          <h3 class="desc horiz-center">Software Engineer in Chicago, IL</h3>
          <table class="horiz-center">
            <tr>
              <th><a href="https://github.com/nickmorris991" target="_blank" rel="noopener title="github" class="btn-social btn-github" id="github-btn"><i class="fa fa-github-alt"></i></a></th>
              <th><a href="https://www.linkedin.com/in/nicholas-jacob-morris/" target="_blank" rel="noopener title="linkedin" class="btn-social btn-linkedin" id="linkedin-btn"><i class="fa fa-linkedin"></i></a></th>
              <th><a href="mailto:morris.1489@osu.edu" target="_blank" rel="noopener title="email" class="btn-social btn-email" id="email-btn"><i class="fa fa-envelope"></i></a></th>
              <th><a href="https://www.instagram.com/nick_morris991/?hl=en" rel="noopener title="instagram" target="_blank" class="btn-social btn-instagram" id="instagram-btn"><i class="fa fa-instagram"></i></a></th>
            </tr>
          </table>
          <table class="horiz-center">
            <tr>
              <th><a class="index-link" id="projects-btn" href="/projects">Projects</a></th>
              <th><a class="index-link" id="about-btn" href="/about">&ensp;About</a></th>
              <th><a class="final-index-link" id="resume-btn" href="/static/docs/NicholasMorris.pdf" target="_blank">&ensp;Resume</a></th>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <script src="static/js/index/background.tree.js"></script>
    <script src="static/js/index/background.helpers.js"></script>
    <script src="static/js/index/background.animation.js"></script>
  </body>
</html>