<!doctype html>
<html lang="en">
    <head>
        <title>Projects</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap assets -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <!-- Local -->
        <link rel="stylesheet" href="static/css/projects.css">
    </head>
    <body>
        <div id="container">
            <div class="row">
                <div class="column"><button class="btnx" id="index-return-btn"><span class="glyphicon glyphicon-chevron-left"></span></button></div>
                <div class="column center"><h1 class="header">Personal Projects</h1></div>
            </div>
            <div class="row">
                <div class="column"><h3 class="sub-header">*some are ongoing</h3></div>
            </div>
        </div>
        <script src="static/js/projects/redirects.js"></script>
    </body>
</html>