<!doctype html>
<html lang="en">
    <head>
        <title>Projects</title>
        <link rel="icon" type="img/png" href="static/img/favicon.png">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/css/projects.css">
        <link rel="stylesheet" href="static/css/general/site.css">
    </head>
    <body>
        <div class="header" id="header">
            <button class="btn-home" id="index-return-btn"><span class="glyphicon glyphicon-home"></span></button>
            <h1 class="title">Things I've Built</h1>
            <hr>
        </div>
        <div class="projects" id="projects">
            {% for project in project_data %}
                <div class="project">
                    <p>{{ project.title }}</p>
                    <p>{{ project.description }}</p>
                    {% for tag in project.tags %}
                        <p style="display: inline-block;">{{ tag }}</p>
                    {% endfor %}
                    <hr>
                </div>  
            {% endfor %}
        </div>
        <script src="static/js/general/redirects.js"></script>
        <script src="static/js/general/borderColoring.js"></script>
    </body>
</html>