<!doctype html>
<html lang="en">
    <head>
        <title>Projects</title>
        <link rel="icon" type="img/png" href="static/img/favicon.png">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="Description" content="Nick Morris - Projects">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Source+Code+Pro:wght@200;300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/css/projects.css">
        <link rel="stylesheet" href="static/css/general/site.css">
        <link rel="stylesheet" href="static/css/general/mobile.css">
    </head>
    <body>
        <div class="header" id="header">
            <button class="btn-home" id="index-return-btn"><span class="glyphicon glyphicon-home"></span></button>
            <h1 class="title">Things I've Built</h1>
            <hr>
        </div>
        <div class="projects" id="projects">
            {% for project in project_data %}
                <div class="project">
                    <div class="p-header">
                        <p class="project-title">{{ project.title }} {{project.emoji}}</p>
                        <a target="_blank" href={{project.source}} class="project-source">(source code)</a>
                    </div>
                    <div class="p-desc">
                        <p class="project-desc">{{ project.description }}</p>
                    </div>
                    <div class="p-tags">
                        {% for tag in project.tags %}
                            <p class="project-tag">{{ tag }}</p>
                        {% endfor %}
                    </div>
                    <hr>
                </div>  
            {% endfor %}
        </div>
        <script src="static/js/general/redirects.js"></script>
        <script src="static/js/general/borderColoring.js"></script>
    </body>
</html>